
.PostMain {
  display: flex;
  flex-direction: column;
  width: 470px;
  position: relative;
  isolation: isolate;
  margin-bottom: 30px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding-block: 7px 20px;
    position: relative;
    top: 16px;
    z-index: -1;
  }

  &__headerAvatar {
    display: flex;
    align-items: center;
    font-size: 15px;
  }

  &__imageContainer {
    display: block;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #777;
    font-size: 0;
  }

  &__image {
    width: 100%;
  }
}

.PostMainFooter {
  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
  }

  &__label {
    font-size: 2rem;
    display: flex;
  }
}

.verticalSeparator {
  padding: 0 20px;
}