
.PhotoFullScreen {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;

  &__img {
    display: block;
    height: 100%;
    outline: 1rem solid white;
  }
  &__desc {
    position: absolute;
    bottom: 0;
    padding: 1.5rem 3rem;
    font-size: 3rem;
    background-color: rgba(128, 128, 128, 0.5);
    font-weight: normal;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 100ms linear;

    &:hover {
      color: #dc2525;
    }

    &-fontAwsome {
      font-size: 8rem;
    }

    &-text {
      margin-top: 1rem;
      font-size: 2rem;
      color: white;
    }
  }
}
