.SinglePhoto {
  position: relative;
  //display: inline-block;
  overflow: hidden;
  background-color: red;
  &__img {
    position: absolute;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50% ;
    transform: translate(-50%,-50%);
    transition: 250ms linear;
    &:hover {
      transform: translate(-50%,-50%) scale(1.05);
      cursor: pointer;
    }
  }
}

.photoContainer {
  height: 100%;
  width: 100%;
  position: relative;

  &--fullScreen {
    position: fixed;
    background-color: rgba(128, 128, 128, 0.8);
    inset: 0;
    padding: 10vmin;

    .SinglePhoto__img {
      position: fixed;
      min-width: auto;
      min-height: auto;
      height: auto;
      max-width: 80%;
      max-height: 80%;

      &:hover {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
}