.SinglePhoto {
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &__img {
    position: absolute;
    display: block;
    height: 100%;
    top: 50%;
    left: 50% ;
    transform: translate(-50%,-50%);
    transition: 250ms linear;
  }

  &__fullSizeIcon {
    color: white;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    border-radius: 50%;
    text-align: center;
    opacity: 0;
    transition: 250ms linear;
  }

  &.col-span-2 {
    .SinglePhoto__img {
      height: auto;
      width: 100%;
    }
  }

  &:hover {
    .SinglePhoto__img {
      transform: translate(-50%,-50%) scale(1.02);
    }

    .SinglePhoto__fullSizeIcon {
      opacity: 1;
    }
  }
}
