
.TopBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #222;

  @media(min-width:  769px) {
    display: none;
  }

  &__logo {
    color: #dc2525;
    margin-left: 10px;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
}