
.RightPanel {
  width: 320px;
  display: flex;
  flex-direction: column;

  &__desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 1.5rem;
  }

  &__desc-label {
    font-size: 1.3rem;
    color: #777;
    margin-bottom: 5px;
  }

  &__link {
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
  }
}

